body{
	font-family: vantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif;
	padding: 20px;
	padding-top: 60px;
	background-color: #ffffff;
}

h1, h2{
	text-align: center;
	padding: 20px;
}


h1{
	font-size: 60px;
	
}

h2{
	font-size: 20px;
	font-weight: 600;
}

span{
	width: 80px;
	font-size: 18px;
	font-weight: 600;
}


#div-color-ranges{
	text-align: center;
	padding-top: 50px;
	
	
}



.color-group{
	
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 50px;




}

input[type='range']{
	cursor: pointer;
	width: 500px;
	margin-right: 10px;
	
}


input[type='text']{
	width: 40px;
	text-align: center;



	
}

